@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Petemoss&family=The+Nautigal:wght@700&display=swap');

//Set your brand colors
$mellow: #D9A84E;
$leaf: #2C592F;
$clay: #BF8654;
$paprika: #D9663D;
$grey: #D9D4D2;
$grey-dark: #0D0D0D;
$mauve: #523559;
$sky: #5991D9;



// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$family-secondary: 'Petemoss', cursive;
//$family-secondary: 'The Nautigal', cursive;

$primary: $mauve;
$link: $leaf;
$info: $sky;
//$success: $green;
$warning: $mellow;
$danger: $paprika;
//$dark: $grey-darker;
//$text: $grey-dark;

$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
//$body-background-color: $blue-light;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

$title-color: $grey-dark;

body{
    padding-top: 3rem;
}
.HL-prime {
    background: linear-gradient(180deg,rgba(255,255,255,0) 50%, $primary 50%);
}

.blog-post{
    h1{
        color: $leaf
    }
    h2{
    color: $paprika
    }
    h3{
        color:$clay
    }
    h4{
        color: $mauve
    }
    h5{
        color: $mellow
    }
    h6{
        color: $sky
    }
};

.navbar{
    border: 0.1rem solid $grey-dark;
}
$navbar-height: 2rem;

.sidebar{
    border-right: 0.1rem solid $grey-dark;
}

@import "~bulma/bulma.sass";